<a href="https://colab.research.google.com/github/AfifNurraihan/AfifNurraihan/blob/main/Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Nested Dictionary

Nested Dictionary atau kamus bertingkat merupakan suatu kamus yang mana kamus tersebut bisa diisi dengan satu atau lebih kamus di dalamnya.

Kita akan membuat sebuah contoh Kamus yang memuat 3 kamus di dalamnya

In [10]:
Keluarga_afif={
    "anak1":{
        "nama":"dera",
        "Tanggal Lahir": 19012000
    },
    "anak2":{
        "nama":"Joko",
        "Tanggal Lahir": 17091997 
    },
    "anak3":{
        "nama":"Asih",
        "Tanggal Lahir": 20022000
    }
}

print(Keluarga_afif)

{'anak1': {'nama': 'dera', 'Tanggal Lahir': 19012000}, 'anak2': {'nama': 'Joko', 'Tanggal Lahir': 17091997}, 'anak3': {'nama': 'Asih', 'Tanggal Lahir': 20022000}}

Kita akan membuat suatu Kamus yang akan berisi 3 kamus lainnya.

In [8]:
anak1={"nama":"Rikma","Tanggal Lahir":19012000}
anak2={"nama":"Joko","Tanggal Lahir":17091997}
anak3={"nama":"Asih","Tanggal Lahir":20022000}

Keluarga_afif={"anak1":anak1,"anak2":anak2,"anak3":anak3}
print(Keluarga_afif)

{'anak1': {'nama': 'Rikma', 'Tanggal Lahir': 19012000}, 'anak2': {'nama': 'Joko', 'Tanggal Lahir': 17091997}, 'anak3': {'nama': 'Asih', 'Tanggal Lahir': 20022000}}

Atau kita juga dapat menggunakan fungsi *dict()* untuk membuat kamus yang baru

In [9]:
Indoapril=dict(barang='Minuman',merek='BearBrand',harga=7000)
#Perlu di perhatikan  bahwa dalam fungsi dict() kita tidak lagi memakai kolon (:) tetapi menggunakan sama dengan (=)
print(Indoapril)

{'barang': 'Minuman', 'merek': 'BearBrand', 'harga': 7000}